/*components formatting*/


.lcards-format{
  display: flex;
  gap: 25px;
  flex-wrap:wrap;
  margin: 2% 0% 2% 0%;
  padding:2%;
}


.pcards-format{
display: flex;
  gap: 27px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  max-width: 1400px;
  min-height: 570px;
}
.create-cards-format{
    display: flex;
    gap: 100px;
    margin: 2% 0% 2% 0%;
    padding:4% 2% 4% 2%;
}
.centerItem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
 align-items: center; 
 display: flex;
 background-color:rgb(59, 156, 127);
}
.image-styling{
  flex-shrink: 0;
}

/*info background color/styling*/
.content{
   padding: 3%;
   background-color: rgb(174, 219, 198);
   display:flex;  
}
/*link styling*/
.pathway{
    color:rgb(146, 109, 29);
   
}
.pathway:hover{
    color: rgb(153, 68, 7);
    text-decoration: none;
}
.pathway:active{
    color: rgb(211, 202, 104);
    text-decoration: none;
}
/*card background colors*/
.background-trans{
    background-color: rgb(203, 176, 108);
}
.background-shelter{
    background-color: rgb(124, 188, 196);
}
.background-food{
    background-color: rgb(136, 211, 147);
}
.background-purchases{
    background-color: rgb(230, 156, 156);
}

.pathway-img{
  height: clamp(140px, 20vw, 210px);
  width: min(400px, 90vw);
}

@media (max-width: 1025px) {
  .pathway-img{
    display: none;
  }
}
/*scroll styling*/
html{
    scroll-behavior: smooth;
}

